<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpple.fruits">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.DiscoverActivity" />
        <activity android:name=".cart.ui.AccountActivity" />
        <activity android:name=".me.ui.UpdatePersonalActivity" />
        <activity android:name=".me.ui.MyOrderActivity" />
        <activity android:name=".me.ui.MyGetCoinActivity" />
        <activity android:name=".me.ui.UpdateNicknameActivity" />
        <activity android:name=".me.ui.AddressActivity" />
        <activity android:name=".me.ui.UpdatePasswordActivity" />
        <activity android:name=".me.ui.LoginActivity" />
        <activity android:name=".me.ui.Register1Activity" />
        <activity android:name=".me.ui.Register2Activity" />
        <activity android:name=".shop.ui.SeedDetailActivity"></activity>
        <activity android:name=".me.ui.InviteFriendActivity" />
        <activity android:name=".me.ui.AddOtherActivity" />
        <activity android:name=".shop.ui.BuySeedActivity" />
        <activity android:name=".shop.ui.ShoppingActivity" />
        <activity android:name=".orchard.ui.OrchardActivity" />
        <activity android:name=".orchard.ui.SeedCardActivity" />
        <activity android:name=".orchard.ui.FriendListActivity" />
        <activity android:name=".main.ui.DiscoverDetailActivity"></activity>
    </application>

</manifest>