<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpple.fruits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".main.ui.MainActivity">

        </activity>
        <activity android:name=".main.ui.DiscoverActivity" />
        <activity android:name=".cart.ui.AccountActivity" />
        <activity android:name=".me.ui.UpdatePersonalActivity" />
        <activity android:name=".order.ui.MyOrderActivity" />
        <activity android:name=".me.ui.MyGetCoinActivity" />
        <activity android:name=".me.ui.UpdateNicknameActivity" />
        <activity android:name=".me.ui.AddressActivity" />
        <activity android:name=".me.ui.UpdatePasswordActivity" />
        <activity android:name=".me.ui.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".me.ui.RegisterActivity">

        </activity>
        <activity android:name=".shop.ui.SeedDetailActivity" />
        <activity android:name=".me.ui.InviteFriendActivity" />
        <activity android:name=".me.ui.AddOtherActivity" />
        <activity android:name=".shop.ui.BuySeedActivity" />
        <activity android:name=".shop.ui.ShoppingActivity" />
        <activity android:name=".orchard.ui.OrchardActivity" />
        <activity android:name=".orchard.ui.SeedCardActivity" />
        <activity android:name=".orchard.ui.FriendListActivity" />
        <activity android:name=".main.ui.DiscoverDetailActivity" />
    </application>

</manifest>